In [3]:
import os
import pandas as pd
from thefuzz import fuzz, process

In [5]:
diretorio = r'C:/Users/cibelly.souza/Desktop/ANÁLISES PRICING/ESTUDOS/PROMO'
os.makedirs(diretorio, exist_ok=True)

In [7]:
#Diretório da base infomarket
diretorio = r'C:/Users/cibelly.souza/Desktop/ANÁLISES PRICING/ESTUDOS/PROMO'
arquivo = os.path.join(diretorio, 'base_infomarket_2025_05_12.csv')

In [9]:
print(os.listdir(diretorio))

['.ipynb_checkpoints', 'Acordos_Comerciais-16036-13-05-2025-10_18.csv', 'base_infomarket_2025_05_12.csv', 'Cadastro.csv', 'tabela_unificada.csv', 'Tentativa de limpeza e mesclagem de tabelas .ipynb']

In [11]:
# Carregar as tabelas
tabela1 = pd.read_csv(arquivo, sep=None, engine='python', encoding='latin1')

In [13]:
tabela2 = pd.read_csv(os.path.join(diretorio,'Acordos_Comerciais-16036-13-05-2025-10_18.csv'), delimiter=';', encoding='latin1')

In [15]:
tabela3 = pd.read_csv(os.path.join(diretorio,'Cadastro.csv'), delimiter=';', encoding='latin1')

In [17]:
#Verificando a estrutura das tabelas
print(tabela1.head())

                 leaflet_id            network           segment  \
0  6814c03fbe2e92604a52f154  BRASIL ATACADISTA  VAREJO ALIMENTAR
1  6814c03fbe2e92604a52f154  BRASIL ATACADISTA  VAREJO ALIMENTAR
2  6814c03fbe2e92604a52f154  BRASIL ATACADISTA  VAREJO ALIMENTAR
3  6814c03fbe2e92604a52f154  BRASIL ATACADISTA  VAREJO ALIMENTAR
4  6814c03fbe2e92604a52f154  BRASIL ATACADISTA  VAREJO ALIMENTAR

            state            city leaflet_code  leaflet_name leaflet_type  \
0  Santa Catarina        Blumenau       52f154  ADEGA BRASIL  ABASTECEDOR
1  Santa Catarina  FlorianÃ³polis       52f154  ADEGA BRASIL  ABASTECEDOR
2  Santa Catarina  FlorianÃ³polis       52f154  ADEGA BRASIL  ABASTECEDOR
3  Santa Catarina  FlorianÃ³polis       52f154  ADEGA BRASIL  ABASTECEDOR
4  Santa Catarina  FlorianÃ³polis       52f154  ADEGA BRASIL  ABASTECEDOR

   leaflet_number_of_pages leaflet_last_images_upload  ... item_unit_measure  \
0                        1   2025-05-02T12:55:58.009Z  ...                ML
1                        1   2025-05-02T12:55:58.009Z  ...                ML
2                        1   2025-05-02T12:55:58.009Z  ...                ML
3                        1   2025-05-02T12:55:58.009Z  ...                ML
4                        1   2025-05-02T12:55:58.009Z  ...                ML

    category        supercategory division   brand     manufacturer  \
0  ESPUMANTE  BEBIDAS ALCOÃLICAS  BEBIDAS  SALTON  VINICOLA SALTON
1  ESPUMANTE  BEBIDAS ALCOÃLICAS  BEBIDAS  SALTON  VINICOLA SALTON
2  ESPUMANTE  BEBIDAS ALCOÃLICAS  BEBIDAS  SALTON  VINICOLA SALTON
3  ESPUMANTE  BEBIDAS ALCOÃLICAS  BEBIDAS  SALTON  VINICOLA SALTON
4  ESPUMANTE  BEBIDAS ALCOÃLICAS  BEBIDAS  SALTON  VINICOLA SALTON

                category_id          supercategory_id  \
0  5693ffd97042985498d90de4  56901e0da6675594d7af3882
1  5693ffd97042985498d90de4  56901e0da6675594d7af3882
2  5693ffd97042985498d90de4  56901e0da6675594d7af3882
3  5693ffd97042985498d90de4  56901e0da6675594d7af3882
4  5693ffd97042985498d90de4  56901e0da6675594d7af3882

                                          images_url channel_name
0  https://app.infomarketpesquisa.com/app/leaflet...    Atacarejo
1  https://app.infomarketpesquisa.com/app/leaflet...    Atacarejo
2  https://app.infomarketpesquisa.com/app/leaflet...    Atacarejo
3  https://app.infomarketpesquisa.com/app/leaflet...    Atacarejo
4  https://app.infomarketpesquisa.com/app/leaflet...    Atacarejo

[5 rows x 36 columns]

In [19]:
print(tabela2.head())

   SEQCAMPANHA                                           CAMPANHA     MIDIA  \
0        16036  ENCARTE LOKÃO KOMPRÃO 03/05 E 04/05 (TEMA: L...  Encartes
1        16036  ENCARTE LOKÃO KOMPRÃO 03/05 E 04/05 (TEMA: L...  Encartes
2        16036  ENCARTE LOKÃO KOMPRÃO 03/05 E 04/05 (TEMA: L...  Encartes
3        16036  ENCARTE LOKÃO KOMPRÃO 03/05 E 04/05 (TEMA: L...  Encartes
4        16036  ENCARTE LOKÃO KOMPRÃO 03/05 E 04/05 (TEMA: L...  Encartes

       INICIO         FIM  SEQLOJA  SEQOFERTA TIPO_OFERTA  SEQPRODUTO  \
0  2025-05-03  2025-05-04       10     540899      Normal        9218
1  2025-05-03  2025-05-04       10     540900      Normal       11227
2  2025-05-03  2025-05-04       10     540901      Normal       40601
3  2025-05-03  2025-05-04       10     540902   Club Koch       63195
4  2025-05-03  2025-05-04       10     540903      Normal       21836

                                  DESCRICAO  ...  NEGOCIACAO_ESPACO  \
0                 CONTRA FILE BOV ATC VC KG  ...                NaN
1                          COXA SOBR FGO KG  ...                NaN
2   LAVA ROUPA OMO ATIV SC 2.4KG LAVAG PERF  ...                NaN
3  PAPEL HIG BIANCO FD 30M C/40 L+P- NEUTRO  ...                NaN
4             CERV HEINEKEN PILSEN LN 330ML  ...                NaN

   TIPO_CASHBACK  CASHBACK_R$  DESCONTO DE %  QTD. PAGUE  QTD. LEVE  \
0            NaN          NaN            NaN         NaN        NaN
1            NaN          NaN            NaN         NaN        NaN
2            NaN          NaN            NaN         NaN        NaN
3            NaN          NaN            NaN         NaN        NaN
4            NaN          NaN            NaN         NaN        NaN

   COMPRA DE  DESCONTO EM UNIDADES  PRECO_REGULAR    PÃGINA
0        NaN                   NaN          48.49  PÃ¡gina 1
1        NaN                   NaN           8.79  PÃ¡gina 1
2        NaN                   NaN          31.99  PÃ¡gina 1
3        NaN                   NaN          49.90  PÃ¡gina 1
4        NaN                   NaN           6.49  PÃ¡gina 1

[5 rows x 25 columns]

In [21]:
print(tabela3.head())

   ï»¿EMPRESA  COD_PRODUTO    cidade      negocio COD_BARRAS  COD_FAMILIA  \
0          50        77957  Araquari  2.ATACAREJO        102        75788
1          50        17058  Araquari  2.ATACAREJO        130        12243
2          50         8313  Araquari  2.ATACAREJO        260         5962
3          50        11856  Araquari  2.ATACAREJO        277         8521
4          50        22463  Araquari  2.ATACAREJO        437        16058

                    DSC_PRODUTO      NIVEL1        NIVEL2              NIVEL3  \
0  FAR MILHO DALON MEDIA PC 1KG   MERCEARIA  SECA SALGADA  GRAOS E FARINACEOS
1                     SALSAO UN  PERECIVEIS    HORTIFRUTI            VERDURAS
2            ABOBORA CABOTIA KG  PERECIVEIS    HORTIFRUTI             LEGUMES
3               GALINHA CONG KG  PERECIVEIS       ACOUGUE                 AVE
4      RICOTA LASAROLI S/SAL KG  PERECIVEIS           PAS           RESFRIADO

                   NIVEL4         NIVEL5   NIVEL6       NIVEL7
0              FARINACEOS  FARINHA MILHO     FINA         FINA
1        TEMPEROS FRESCOS         SALSAO   SALSAO      UNIDADE
2                   COMUM        ABOBORA  CABOTIA           KG
3  AUTO SERVICO CONGELADO    TRADICIONAL  INTEIRO      INTEIRO
4                  QUEIJO    TRADICIONAL   RICOTA  TRADICIONAL

In [23]:
print(tabela1.shape[1])

36

In [25]:
print(tabela1.columns)

Index(['leaflet_id', 'network', 'segment', 'state', 'city', 'leaflet_code',
       'leaflet_name', 'leaflet_type', 'leaflet_number_of_pages',
       'leaflet_last_images_upload', 'leaflet_created', 'leaflet_updated',
       'validity_start_date', 'validity_finish_date', 'period',
       'item_description', 'ean', 'price', 'minimum_quantity', 'dynamic',
       'requires_loyality', 'requires_credit_card', 'wholesale_only',
       'price_created', 'price_updated', 'item_measure', 'item_unit_measure',
       'category', 'supercategory', 'division', 'brand', 'manufacturer',
       'category_id', 'supercategory_id', 'images_url', 'channel_name'],
      dtype='object')

In [27]:
#Reduzindo base Infomarket para apenas o necessário (selecionando apenas as colunas nessa posição)
tabela1 = tabela1[['network','city','leaflet_name','leaflet_type','leaflet_number_of_pages','validity_start_date', 'validity_finish_date', 'period',
                                'item_description', 'ean', 'price', 'minimum_quantity', 'dynamic','item_measure', 'item_unit_measure','category',
                                'supercategory', 'division', 'brand', 'manufacturer','images_url', 'channel_name']].copy()

In [29]:
print(tabela2.columns)

Index(['SEQCAMPANHA', 'CAMPANHA', 'MIDIA', 'INICIO', 'FIM', 'SEQLOJA',
       'SEQOFERTA', 'TIPO_OFERTA', 'SEQPRODUTO', 'DESCRICAO', 'PRECO_VAREJO',
       'PRECO_ATACADO', 'QUANTIDADE_MINIMA', 'PRECO_FIDELIDADE',
       'SEQFORNECEDOR', 'NEGOCIACAO_ESPACO', 'TIPO_CASHBACK', 'CASHBACK_R$',
       'DESCONTO DE %', 'QTD. PAGUE', 'QTD. LEVE', 'COMPRA DE',
       'DESCONTO EM UNIDADES', 'PRECO_REGULAR', 'PÃGINA'],
      dtype='object')

In [31]:
#Reduzindo base Smarket para apenas o necessário (selecionando apenas as colunas nessa posição)
tabela2 = tabela2[['SEQCAMPANHA','CAMPANHA','INICIO', 'FIM', 'SEQLOJA','SEQOFERTA', 'TIPO_OFERTA', 'SEQPRODUTO', 'DESCRICAO', 'PRECO_VAREJO','PRECO_ATACADO',
                   'QUANTIDADE_MINIMA','PRECO_FIDELIDADE','TIPO_CASHBACK','CASHBACK_R$','DESCONTO DE %', 'QTD. PAGUE', 'QTD. LEVE', 'COMPRA DE',
                   'DESCONTO EM UNIDADES','PRECO_REGULAR', 'PÃGINA']].copy()

In [33]:
print(tabela3.columns)

Index(['ï»¿EMPRESA', 'COD_PRODUTO', 'cidade', 'negocio', 'COD_BARRAS',
       'COD_FAMILIA', 'DSC_PRODUTO', 'NIVEL1', 'NIVEL2', 'NIVEL3', 'NIVEL4',
       'NIVEL5', 'NIVEL6', 'NIVEL7'],
      dtype='object')

In [35]:
#Normalizando as tabelas da info e da smarket (cadastro não pq é mt grande)
!pip install unidecode
from unidecode import unidecode
import pandas as pd
tabelas = [tabela1, tabela2]
tabelas_normalizadas = [tabela.astype(str).apply(lambda col: col.map(lambda x: unidecode(x).upper()) if col.dtype == 'object' else col) for tabela in tabelas]

Requirement already satisfied: unidecode in c:\users\cibelly.souza\appdata\local\anaconda3\lib\site-packages (1.2.0)

In [37]:
#nomeando novamente 
tabela1, tabela2 = tabelas_normalizadas

In [39]:
#Verificando 
print(f"Tabela 1 - Linhas:{tabela1.shape[0]}, Colunas: {tabela1.shape[1]}")
print(f"Tabela 2 - Linhas:{tabela2.shape[0]}, Colunas: {tabela2.shape[1]}")
print(f"Tabela 3 - Linhas:{tabela3.shape[0]}, Colunas: {tabela3.shape[1]}")

Tabela 1 - Linhas:35275, Colunas: 22
Tabela 2 - Linhas:19372, Colunas: 22
Tabela 3 - Linhas:570522, Colunas: 14

In [41]:
print(tabela2.columns)

Index(['SEQCAMPANHA', 'CAMPANHA', 'INICIO', 'FIM', 'SEQLOJA', 'SEQOFERTA',
       'TIPO_OFERTA', 'SEQPRODUTO', 'DESCRICAO', 'PRECO_VAREJO',
       'PRECO_ATACADO', 'QUANTIDADE_MINIMA', 'PRECO_FIDELIDADE',
       'TIPO_CASHBACK', 'CASHBACK_R$', 'DESCONTO DE %', 'QTD. PAGUE',
       'QTD. LEVE', 'COMPRA DE', 'DESCONTO EM UNIDADES', 'PRECO_REGULAR',
       'PÃGINA'],
      dtype='object')

In [43]:
tabela2.rename(columns={'SEQPRODUTO':'COD_PRODUTO','PÁGINA':'PAGINA','CAMPANHA':'ENCARTE'}, inplace=True)

In [45]:
#Removendo valores nulos
tabela1.dropna(inplace=True)

In [47]:
tabela2.dropna(inplace=True)

In [49]:
tabela3.dropna(inplace=True)

In [51]:
#Removendo espaços em branco
tabela1.columns = tabela1.columns.str.strip()

In [53]:
tabela2.columns = tabela2.columns.str.strip()

In [55]:
tabela3.columns = tabela3.columns.str.strip()

In [57]:
#Verificando 
print(f"Tabela 1 - Linhas:{tabela1.shape[0]}, Colunas: {tabela1.shape[1]}")
print(f"Tabela 2 - Linhas:{tabela2.shape[0]}, Colunas: {tabela2.shape[1]}")
print(f"Tabela 3 - Linhas:{tabela3.shape[0]}, Colunas: {tabela3.shape[1]}")

Tabela 1 - Linhas:35275, Colunas: 22
Tabela 2 - Linhas:19372, Colunas: 22
Tabela 3 - Linhas:570522, Colunas: 14

In [59]:
print(tabela1.columns)

Index(['network', 'city', 'leaflet_name', 'leaflet_type',
       'leaflet_number_of_pages', 'validity_start_date',
       'validity_finish_date', 'period', 'item_description', 'ean', 'price',
       'minimum_quantity', 'dynamic', 'item_measure', 'item_unit_measure',
       'category', 'supercategory', 'division', 'brand', 'manufacturer',
       'images_url', 'channel_name'],
      dtype='object')

In [61]:
tabela1.rename(columns = {'network':'CONCORRENTE','city':'CIDADE', 'leaflet_name':'ENCARTE', 'leaflet_type':'TIPO','leaflet_number_of_pages':'PAGINA',
                       'validity_start_date':'INICIO','validity_finish_date':'FIM', 'period':'PERIODO', 'item_description':'DESCRICAO',
                       'ean':'COD_BARRAS','price':'PRECO','minimum_quantity':'QTD_MINIMA', 'dynamic':'DINAMICA', 'item_measure':'TAMANHO',
                       'item_unit_measure':'UNIDADE','category':'CATEGORIA', 'supercategory':'SUPERCATEGORIA', 'division':'DIVISAO',
                       'brand':'MARCA', 'manufacturer':'FORNECEDOR','images_url':'URL', 'channel_name':'SEGMENTO'}, inplace=True)

In [63]:
print(tabela1.columns)

Index(['CONCORRENTE', 'CIDADE', 'ENCARTE', 'TIPO', 'PAGINA', 'INICIO', 'FIM',
       'PERIODO', 'DESCRICAO', 'COD_BARRAS', 'PRECO', 'QTD_MINIMA', 'DINAMICA',
       'TAMANHO', 'UNIDADE', 'CATEGORIA', 'SUPERCATEGORIA', 'DIVISAO', 'MARCA',
       'FORNECEDOR', 'URL', 'SEGMENTO'],
      dtype='object')

In [73]:
tabela3.rename(columns = {'negocio':'NEGOCIO', 'cidade':'CIDADE','DSC_PRODUTO':'DESCRICAO'}, inplace=True)

In [75]:
print(tabela3.columns)

Index(['ï»¿EMPRESA', 'COD_PRODUTO', 'CIDADE', 'NEGOCIO', 'COD_BARRAS',
       'COD_FAMILIA', 'DESCRICAO', 'NIVEL1', 'NIVEL2', 'NIVEL3', 'NIVEL4',
       'NIVEL5', 'NIVEL6', 'NIVEL7'],
      dtype='object')

In [77]:
print(tabela2.columns)

Index(['SEQCAMPANHA', 'ENCARTE', 'INICIO', 'FIM', 'SEQLOJA', 'SEQOFERTA',
       'TIPO_OFERTA', 'COD_PRODUTO', 'DESCRICAO', 'PRECO_VAREJO',
       'PRECO_ATACADO', 'QUANTIDADE_MINIMA', 'PRECO_FIDELIDADE',
       'TIPO_CASHBACK', 'CASHBACK_R$', 'DESCONTO DE %', 'QTD. PAGUE',
       'QTD. LEVE', 'COMPRA DE', 'DESCONTO EM UNIDADES', 'PRECO_REGULAR',
       'PÃGINA'],
      dtype='object')

In [79]:
#Removendo espaços,pontos e traços
tabela1['DESCRICAO'] = tabela1['DESCRICAO'].astype(str).str.replace(r'[^\w\s]','',regex=True)

In [81]:
tabela3['DESCRICAO'] = tabela3['DESCRICAO'].astype(str).str.replace(r'[^\w\s]','',regex=True)

In [83]:
#Verificando se tem correspondencia
cod_barras_1 = set(tabela1['DESCRICAO'])
cod_barras_3 = set(tabela3['DESCRICAO'])
print(len(cod_barras_1 & cod_barras_3), "DESCRICAO coincidem.")

10 DESCRICAO coincidem.

In [85]:
#Verificando se tem espaços/caracteres especiais
print(tabela1['DESCRICAO'].str.contains(r'\s').sum(), "DESCRICAO com espaço na tabela 1")
print(tabela3['DESCRICAO'].str.contains(r'\s').sum(), "DESCRICAO com espaço na tabela 3")

35275 DESCRICAO com espaço na tabela 1
570522 DESCRICAO com espaço na tabela 3

In [87]:
#Mesclando tabela 1(Infomarket) com tabela 3 (Cadastro)
merge1 = pd.merge(tabela1,tabela3, on='DESCRICAO', how='left')

In [83]:
print(merge1.head())

         CONCORRENTE        CIDADE_x       ENCARTE         TIPO PAGINA  \
0  BRASIL ATACADISTA        BLUMENAU  ADEGA BRASIL  ABASTECEDOR      1
1  BRASIL ATACADISTA  FLORIANA3POLIS  ADEGA BRASIL  ABASTECEDOR      1
2  BRASIL ATACADISTA  FLORIANA3POLIS  ADEGA BRASIL  ABASTECEDOR      1
3  BRASIL ATACADISTA  FLORIANA3POLIS  ADEGA BRASIL  ABASTECEDOR      1
4  BRASIL ATACADISTA  FLORIANA3POLIS  ADEGA BRASIL  ABASTECEDOR      1

       INICIO         FIM                  PERIODO  \
0  02/05/2025  15/05/2025  02.05.2025 - 15.05.2025
1  02/05/2025  15/05/2025  02.05.2025 - 15.05.2025
2  02/05/2025  15/05/2025  02.05.2025 - 15.05.2025
3  02/05/2025  15/05/2025  02.05.2025 - 15.05.2025
4  02/05/2025  15/05/2025  02.05.2025 - 15.05.2025

                     DESCRICAO     COD_BARRAS  ... COD_PRODUTO COD_FAMILIA  \
0  ESPUMANTE SALTON BRUT 750ML  7896023082528  ...         NaN         NaN
1  ESPUMANTE SALTON BRUT 750ML  7896023082528  ...         NaN         NaN
2  ESPUMANTE SALTON BRUT 750ML  7896023082528  ...         NaN         NaN
3  ESPUMANTE SALTON BRUT 750ML  7896023082528  ...         NaN         NaN
4  ESPUMANTE SALTON BRUT 750ML  7896023082528  ...         NaN         NaN

  NIVEL1 NIVEL2 NIVEL3 NIVEL4 NIVEL5 NIVEL6 NIVEL7 PRODUTOS
0    NaN    NaN    NaN    NaN    NaN    NaN    NaN      NaN
1    NaN    NaN    NaN    NaN    NaN    NaN    NaN      NaN
2    NaN    NaN    NaN    NaN    NaN    NaN    NaN      NaN
3    NaN    NaN    NaN    NaN    NaN    NaN    NaN      NaN
4    NaN    NaN    NaN    NaN    NaN    NaN    NaN      NaN

[5 rows x 35 columns]

In [85]:
#Verificando o comprimento dos códigos de barras
print(tabela1['COD_BARRAS'].str.len().unique())
print(tabela3['COD_BARRAS'].str.len().unique())

[13  3  2 14 12  5  4  6  8  1 11  7]
[10  2  3  4  5  6  8  9 11]

In [87]:
# Padronizando para 13 dígitos (EAN-13)
tabela1.loc[:,'COD_BARRAS'] = tabela1['COD_BARRAS'].astype(str).str.zfill(13)
tabela3.loc[:,'COD_BARRAS'] = tabela3['COD_BARRAS'].astype(str).str.zfill(13)

In [89]:
# Remover códigos que têm mais de 13 dígitos (inconsistentes)
tabela1 = tabela1[tabela1['COD_BARRAS'].str.len() == 13].copy()
tabela3 = tabela3[tabela3['COD_BARRAS'].str.len() == 13].copy()

In [91]:
print("Códigos de Barras Únicos na Tabela 1:", tabela1['COD_BARRAS'].nunique())
print("Códigos de Barras Únicos na Tabela 3:", tabela3['COD_BARRAS'].nunique())

Códigos de Barras Únicos na Tabela 1: 1132
Códigos de Barras Únicos na Tabela 3: 1758

In [93]:
# Verificar o comprimento dos códigos de barras
print("Comprimento dos Códigos de Barras na Tabela 1:", tabela1['COD_BARRAS'].str.len().unique())
print("Comprimento dos Códigos de Barras na Tabela 3:", tabela3['COD_BARRAS'].str.len().unique())

Comprimento dos Códigos de Barras na Tabela 1: [13]
Comprimento dos Códigos de Barras na Tabela 3: [13]

In [95]:
# Verificar se há apenas números nos códigos de barras
print("Códigos de Barras Inválidos na Tabela 1:", tabela1[~tabela1['COD_BARRAS'].str.isnumeric()])
print("Códigos de Barras Inválidos na Tabela 3:", tabela3[~tabela3['COD_BARRAS'].str.isnumeric()])

Códigos de Barras Inválidos na Tabela 1:              CONCORRENTE           CIDADE        ENCARTE         TIPO PAGINA  \
12     BRASIL ATACADISTA         BLUMENAU   ADEGA BRASIL  ABASTECEDOR      1
13     BRASIL ATACADISTA   FLORIANA3POLIS   ADEGA BRASIL  ABASTECEDOR      1
14     BRASIL ATACADISTA   FLORIANA3POLIS   ADEGA BRASIL  ABASTECEDOR      1
15     BRASIL ATACADISTA   FLORIANA3POLIS   ADEGA BRASIL  ABASTECEDOR      1
16     BRASIL ATACADISTA   FLORIANA3POLIS   ADEGA BRASIL  ABASTECEDOR      1
...                  ...              ...            ...          ...    ...
34854       COOPER SUPER  JARAGUA! DO SUL  ESPECIAL MAES  ABASTECEDOR      3
34855       COOPER SUPER        JOINVILLE  ESPECIAL MAES  ABASTECEDOR      3
34856       COOPER SUPER          IBIRAMA  ESPECIAL MAES  ABASTECEDOR      3
34857       COOPER SUPER           RODEIO  ESPECIAL MAES  ABASTECEDOR      3
34858       COOPER SUPER           TIMBA3  ESPECIAL MAES  ABASTECEDOR      3

           INICIO         FIM                  PERIODO  \
12     02/05/2025  15/05/2025  02.05.2025 - 15.05.2025
13     02/05/2025  15/05/2025  02.05.2025 - 15.05.2025
14     02/05/2025  15/05/2025  02.05.2025 - 15.05.2025
15     02/05/2025  15/05/2025  02.05.2025 - 15.05.2025
16     02/05/2025  15/05/2025  02.05.2025 - 15.05.2025
...           ...         ...                      ...
34854  23/04/2025  13/05/2025  23.04.2025 - 13.05.2025
34855  23/04/2025  13/05/2025  23.04.2025 - 13.05.2025
34856  23/04/2025  13/05/2025  23.04.2025 - 13.05.2025
34857  23/04/2025  13/05/2025  23.04.2025 - 13.05.2025
34858  23/04/2025  13/05/2025  23.04.2025 - 13.05.2025

                                         DESCRICAO     COD_BARRAS  ...  \
12     VINHO URUGUAIO SOLAR DEL PASO RESERVA 750ML  0000000000NAN  ...
13     VINHO URUGUAIO SOLAR DEL PASO RESERVA 750ML  0000000000NAN  ...
14     VINHO URUGUAIO SOLAR DEL PASO RESERVA 750ML  0000000000NAN  ...
15     VINHO URUGUAIO SOLAR DEL PASO RESERVA 750ML  0000000000NAN  ...
16     VINHO URUGUAIO SOLAR DEL PASO RESERVA 750ML  0000000000NAN  ...
...                                            ...            ...  ...
34854      SECADOR PHILCO TITANIUM TRAVEL VERMELHO  0000000000NAN  ...
34855      SECADOR PHILCO TITANIUM TRAVEL VERMELHO  0000000000NAN  ...
34856      SECADOR PHILCO TITANIUM TRAVEL VERMELHO  0000000000NAN  ...
34857      SECADOR PHILCO TITANIUM TRAVEL VERMELHO  0000000000NAN  ...
34858      SECADOR PHILCO TITANIUM TRAVEL VERMELHO  0000000000NAN  ...

            DINAMICA TAMANHO UNIDADE CATEGORIA      SUPERCATEGORIA  DIVISAO  \
12     OFERTA_DE_POR   750.0      ML     VINHO  BEBIDAS ALCOALICAS  BEBIDAS
13     OFERTA_DE_POR   750.0      ML     VINHO  BEBIDAS ALCOALICAS  BEBIDAS
14     OFERTA_DE_POR   750.0      ML     VINHO  BEBIDAS ALCOALICAS  BEBIDAS
15     OFERTA_DE_POR   750.0      ML     VINHO  BEBIDAS ALCOALICAS  BEBIDAS
16     OFERTA_DE_POR   750.0      ML     VINHO  BEBIDAS ALCOALICAS  BEBIDAS
...              ...     ...     ...       ...                 ...      ...
34854  OFERTA_DE_POR     1.0     UND   SECADOR   ELETRODOMASTICOS     BAZAR
34855  OFERTA_DE_POR     1.0     UND   SECADOR   ELETRODOMASTICOS     BAZAR
34856  OFERTA_DE_POR     1.0     UND   SECADOR   ELETRODOMASTICOS     BAZAR
34857  OFERTA_DE_POR     1.0     UND   SECADOR   ELETRODOMASTICOS     BAZAR
34858  OFERTA_DE_POR     1.0     UND   SECADOR   ELETRODOMASTICOS     BAZAR

                MARCA FORNECEDOR  \
12     SOLAR DEL PASO     OUTROS
13     SOLAR DEL PASO     OUTROS
14     SOLAR DEL PASO     OUTROS
15     SOLAR DEL PASO     OUTROS
16     SOLAR DEL PASO     OUTROS
...               ...        ...
34854          PHILCO     PHILCO
34855          PHILCO     PHILCO
34856          PHILCO     PHILCO
34857          PHILCO     PHILCO
34858          PHILCO     PHILCO

                                                     URL         SEGMENTO
12     HTTPS://APP.INFOMARKETPESQUISA.COM/APP/LEAFLET...        ATACAREJO
13     HTTPS://APP.INFOMARKETPESQUISA.COM/APP/LEAFLET...        ATACAREJO
14     HTTPS://APP.INFOMARKETPESQUISA.COM/APP/LEAFLET...        ATACAREJO
15     HTTPS://APP.INFOMARKETPESQUISA.COM/APP/LEAFLET...        ATACAREJO
16     HTTPS://APP.INFOMARKETPESQUISA.COM/APP/LEAFLET...        ATACAREJO
...                                                  ...              ...
34854  HTTPS://APP.INFOMARKETPESQUISA.COM/APP/LEAFLET...  SUPER REGIONAIS
34855  HTTPS://APP.INFOMARKETPESQUISA.COM/APP/LEAFLET...  SUPER REGIONAIS
34856  HTTPS://APP.INFOMARKETPESQUISA.COM/APP/LEAFLET...  SUPER REGIONAIS
34857  HTTPS://APP.INFOMARKETPESQUISA.COM/APP/LEAFLET...  SUPER REGIONAIS
34858  HTTPS://APP.INFOMARKETPESQUISA.COM/APP/LEAFLET...  SUPER REGIONAIS

[3982 rows x 22 columns]
Códigos de Barras Inválidos na Tabela 3:          ï»¿EMPRESA      NEGOCIO              CIDADE  COD_PRODUTO  \
45154            16     1.VAREJO  Balneario Camboriu        70444
45155            63     1.VAREJO  Balneario Picarras        70444
45156            13     1.VAREJO             Biguacu        70444
45157            31     1.VAREJO           Bombinhas        70444
45158             3     1.VAREJO            Camboriu        70444
...             ...          ...                 ...          ...
1048569          57  2.ATACAREJO            Imbituba        74488
1048570          60  2.ATACAREJO            Imbituba        74488
1048571          61  2.ATACAREJO            Imbituba        74488
1048572          49  2.ATACAREJO             Indaial        74488
1048573          46  2.ATACAREJO              Itajai        74488

            COD_BARRAS  COD_FAMILIA     NIVEL1        NIVEL2  \
45154    0000000193E11        63718  MERCEARIA  SECA SALGADA
45155    0000000193E11        63718  MERCEARIA  SECA SALGADA
45156    0000000193E11        63718  MERCEARIA  SECA SALGADA
45157    0000000193E11        63718  MERCEARIA  SECA SALGADA
45158    0000000193E11        63718  MERCEARIA  SECA SALGADA
...                ...          ...        ...           ...
1048569  0000000179E13        71854  MERCEARIA     SECA DOCE
1048570  0000000179E13        71854  MERCEARIA     SECA DOCE
1048571  0000000179E13        71854  MERCEARIA     SECA DOCE
1048572  0000000179E13        71854  MERCEARIA     SECA DOCE
1048573  0000000179E13        71854  MERCEARIA     SECA DOCE

                        NIVEL3             NIVEL4              NIVEL5  \
45154    MOLHOS COMPLEMENTARES  BARBECUE - LANCHE            BARBECUE
45155    MOLHOS COMPLEMENTARES  BARBECUE - LANCHE            BARBECUE
45156    MOLHOS COMPLEMENTARES  BARBECUE - LANCHE            BARBECUE
45157    MOLHOS COMPLEMENTARES  BARBECUE - LANCHE            BARBECUE
45158    MOLHOS COMPLEMENTARES  BARBECUE - LANCHE            BARBECUE
...                        ...                ...                 ...
1048569     BISCOITOS TORRADAS      BISCOITO DOCE  BOLACHAS E PAO MEL
1048570     BISCOITOS TORRADAS      BISCOITO DOCE  BOLACHAS E PAO MEL
1048571     BISCOITOS TORRADAS      BISCOITO DOCE  BOLACHAS E PAO MEL
1048572     BISCOITOS TORRADAS      BISCOITO DOCE  BOLACHAS E PAO MEL
1048573     BISCOITOS TORRADAS      BISCOITO DOCE  BOLACHAS E PAO MEL

                      NIVEL6    NIVEL7  PRODUTOS
45154               BARBECUE   SQUEEZE         1
45155               BARBECUE   SQUEEZE         1
45156               BARBECUE   SQUEEZE         1
45157               BARBECUE   SQUEEZE         1
45158               BARBECUE   SQUEEZE         1
...                      ...       ...       ...
1048569  COBERTURA CHOCOLATE  FAMILIAR         1
1048570  COBERTURA CHOCOLATE  FAMILIAR         1
1048571  COBERTURA CHOCOLATE  FAMILIAR         1
1048572  COBERTURA CHOCOLATE  FAMILIAR         1
1048573  COBERTURA CHOCOLATE  FAMILIAR         1

[1003420 rows x 14 columns]

In [97]:
#Manter só codigos totalmente numericos e com 13 digitos
tabela1 = tabela1[tabela1['COD_BARRAS'].str.isnumeric() & (tabela1['COD_BARRAS'].str.len() == 13)]
tabela3 = tabela3[tabela3['COD_BARRAS'].str.isnumeric() & (tabela3['COD_BARRAS'].str.len() == 13)]

In [99]:
#Verificando novamente o n° de cod. barras válidos
print("Códigos de Barras únicos na Tabela 1:", tabela1['COD_BARRAS'].nunique())

Códigos de Barras únicos na Tabela 1: 1131

In [101]:
print("Códigos de Barras únicos na Tabela 3:", tabela3['COD_BARRAS'].nunique())

Códigos de Barras únicos na Tabela 3: 1620

In [103]:
# Contar a interseção dos códigos de barras
codigos_comuns = set(tabela1['COD_BARRAS']).intersection(set(tabela3['COD_BARRAS']))
print("Total de Códigos de Barras em Comum:", len(codigos_comuns))

Total de Códigos de Barras em Comum: 18

In [105]:
# Comparar os códigos de barras entre as duas tabelas
codigos_tabela1 = set(tabela1['COD_BARRAS'])
codigos_tabela3 = set(tabela3['COD_BARRAS'])

# Códigos que estão na Tabela 1 mas não na Tabela 3
nao_encontrados_1 = codigos_tabela1 - codigos_tabela3
nao_encontrados_3 = codigos_tabela3 - codigos_tabela1

print("Códigos na Tabela 1 que não estão na Tabela 3:", len(nao_encontrados_1))
print("Códigos na Tabela 3 que não estão na Tabela 1:", len(nao_encontrados_3))

Códigos na Tabela 1 que não estão na Tabela 3: 1113
Códigos na Tabela 3 que não estão na Tabela 1: 1602

In [107]:
#Mesclando tabela 1(Infomarket) com tabela 3 (Cadastro)
merge1 = pd.merge(tabela1,tabela3, on='COD_BARRAS', how='left')

In [111]:

print(merge1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43338 entries, 0 to 43337
Data columns (total 35 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CONCORRENTE     43338 non-null  object
 1   CIDADE_x        43338 non-null  object
 2   ENCARTE         43338 non-null  object
 3   TIPO            43338 non-null  object
 4   PAGINA          43338 non-null  object
 5   INICIO          43338 non-null  object
 6   FIM             43338 non-null  object
 7   PERIODO         43338 non-null  object
 8   DESCRICAO       43338 non-null  object
 9   COD_BARRAS      43338 non-null  object
 10  PRECO           43338 non-null  object
 11  QTD_MINIMA      43338 non-null  object
 12  DINAMICA        43338 non-null  object
 13  TAMANHO         43338 non-null  object
 14  UNIDADE         43338 non-null  object
 15  CATEGORIA       43338 non-null  object
 16  SUPERCATEGORIA  43338 non-null  object
 17  DIVISAO         43338 non-null  object
 18  MARCA           43338 non-null  object
 19  FORNECEDOR      43338 non-null  object
 20  URL             43338 non-null  object
 21  SEGMENTO        43338 non-null  object
 22  ï»¿EMPRESA      12738 non-null  float64
 23  NEGOCIO         12738 non-null  object
 24  CIDADE_y        12738 non-null  object
 25  COD_PRODUTO     12738 non-null  float64
 26  COD_FAMILIA     12738 non-null  float64
 27  NIVEL1          12738 non-null  object
 28  NIVEL2          12738 non-null  object
 29  NIVEL3          12738 non-null  object
 30  NIVEL4          12738 non-null  object
 31  NIVEL5          12738 non-null  object
 32  NIVEL6          12738 non-null  object
 33  NIVEL7          12738 non-null  object
 34  PRODUTOS        12738 non-null  float64
dtypes: float64(4), object(31)
memory usage: 11.6+ MB
None

In [ ]:
#--------- teste por similaridade de texto

In [115]:
import pandas as pd
from difflib import SequenceMatcher

In [117]:
#Calculando similaridade entre as descrições dos produtos das duas tabelas
# Função para calcular a similaridade entre duas strings
def similaridade(texto1, texto2):
    return SequenceMatcher(None, texto1, texto2).ratio()

In [119]:
#Definindo limite de similaridade 
limite_similaridade = 0.8

In [121]:
# Listas para armazenar correspondencias
correspondencias = []

In [131]:
print(tabela3.head(5))

   ï»¿EMPRESA   NEGOCIO              CIDADE  COD_PRODUTO     COD_BARRAS  \
0          16  1.VAREJO  Balneario Camboriu        76250  0008030201200
1          63  1.VAREJO  Balneario Picarras        76250  0008030201200
2          13  1.VAREJO             Biguacu        76250  0008030201200
3          31  1.VAREJO           Bombinhas        76250  0008030201200
4           8  1.VAREJO            Camboriu        76250  0008030201200

   COD_FAMILIA      NIVEL1 NIVEL2     NIVEL3   NIVEL4   NIVEL5   NIVEL6  \
0        40684  PERECIVEIS    PAS  CONGELADO  SORVETE  SORVETE  PREMIUM
1        40684  PERECIVEIS    PAS  CONGELADO  SORVETE  SORVETE  PREMIUM
2        40684  PERECIVEIS    PAS  CONGELADO  SORVETE  SORVETE  PREMIUM
3        40684  PERECIVEIS    PAS  CONGELADO  SORVETE  SORVETE  PREMIUM
4        40684  PERECIVEIS    PAS  CONGELADO  SORVETE  SORVETE  PREMIUM

    NIVEL7  PRODUTOS
0  PREMIUM         1
1  PREMIUM         1
2  PREMIUM         1
3  PREMIUM         1
4  PREMIUM         1

In [125]:
# Realizar a comparação por similaridade de descrição
for i, row1 in tabela1.iterrows():
    descricao1 = str(row1['DESCRICAO']).lower()
    for j, row3 in tabela3.iterrows():
        descricao3 = str(row3['DESCRICAO']).lower()
        if similaridade(descricao1, descricao3) >= limite_similaridade:
            correspondencias.append({
                'DESCRICAO_TABELA1': descricao1,
                'DESCRICAO_TABELA3': descricao3,
                'SIMILARIDADE': similaridade(descricao1, descricao3),
                'INDEX_TABELA1': i,
                'INDEX_TABELA3': j
            })

KeyError: 'DESCRICAO'